 <!-- partial:partials/_sidebar.html -->
 <style>
  .sidebar .nav-link.active {
    background-color: #165319 !important;
  }

  .sidebar .nav-link:hover {
    color: #165319 !important;
  }

  .sidebar .nav-link.active:hover {
    color: #fff !important;
  }
</style>
 
 {% load static %}
 <aside class="main-sidebar sidebar-primary elevation-4" style="background-color: #d6fad5;">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <span class="brand-text font-weight-dark" style="font-size: 18px; color: #165319; font-weight: 700;"></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-1 pb-1 d-flex" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <div class="image">
        <img src="{% static 'images/logo.svg' %}" style="width: 150px; height: auto; left: -7px; position: relative;">
      </div>
      <div class="info">
        <a href="#" class="d-block" style="color: #165319; font-weight: 700; font-size: 20px;"> Enrollment System</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
   

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
  
        <li class="nav-item">
          <a href="{% url 'admin_dashboard' %}"  class="nav-link {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'admission' %}"  class="nav-link {% if request.resolver_match.url_name == 'admission' %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Admission
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link {% if request.resolver_match.url_name == 'add-students' or request.resolver_match.url_name == 'enroll-students-sub' %}active{% endif %}">
            <i class="nav-icon fas fa-copy"></i>
            <p>
             Students
              <i class="fas fa-angle-left right"></i>
             
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'add-students' %}" class="nav-link {% if request.resolver_match.url_name == 'add-students' %}active{% endif %} ">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Students</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'enroll-students-sub' %}" class="nav-link {% if request.resolver_match.url_name == 'enroll-students-sub' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Enroll Subjects</p>
              </a>
            </li>
          
          </ul>
        </li>

        <li class="nav-item">
          <a href="{% url 'search_checklist' %}" class="nav-link {% if request.resolver_match.url_name == 'search_checklist' %}active{% endif %} ">
            <i class="nav-icon fas fa-search"></i>
            <p>Search Checklist</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'search_cor' %}" class="nav-link {% if request.resolver_match.url_name == 'search_cor' %}active{% endif %}">
            <i class="nav-icon fas fa-search"></i>
            <p>
              Search COR
            </p>
          </a>
        </li> 

        <li class="nav-item">
          <a href="#" class="nav-link {% if request.resolver_match.url_name == 'enrolled' or request.resolver_match.url_name == 'not-enrolled' %}active{% endif %}">
            <i class="nav-icon fas fa-envelope"></i>
            <p>
              Enrollment Status
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'enrolled' %}" class="nav-link {% if request.resolver_match.url_name == 'enrolled' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Enrolled</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'not-enrolled' %}" class="nav-link {% if request.resolver_match.url_name == 'not-enrolled' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Not Enrolled</p>
              </a>
            </li>
      
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'manage-students' %}" class="nav-link {% if request.resolver_match.url_name == 'manage-students' %}active{% endif %}">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Manage Students
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'sections' %}" class="nav-link {% if request.resolver_match.url_name == 'sections' %}active{% endif %}">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Sections
            </p>
          </a>
        </li> 


        <li class="nav-item">
          <a href="{% url 'archive' %}" class="nav-link {% if request.resolver_match.url_name == 'archive' %}active{% endif %}">
            <i class="nav-icon fas fa-trash"></i>
            <p>
              Archive
            </p>
          </a>
     
        </li>
       
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>