<style>
    h1 {
        font-size: 30px !important;
        font-family: 'Lora', serif !important; 
    }

    p,
    p strong {
        font-size: 13px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    h3 {
        font-size: 18px !important;
    }

    table td {
        font-size: 11px !important;
    }

    table th {
        font-size: 15px !important;
    }

    @media print {

    .table tbody tr {
        height: 2px !important;  /* Set the desired row height */
        margin-bottom: -10px;
    }

    .table td {
        height: -10px !important; /* Set the height of each cell */
        padding: 0px !important; /* Adjust padding for a balanced layout */
        font-size: 11px !important; /* Optional: Adjust font size for better readability */
    }

    .form-control {
        height: 2px !important;
        font-size: 11px !important;
    }
    /* Hide unnecessary elements */
    #printButton {
        display: none;
    }
}
</style>
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container my-5" id="cor">
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    {% if student %}
    <!-- Registration Form -->
    <form method="POST" action="{% url 'checklist' %}">
        {% csrf_token %}
        <input type="hidden" name="student_number" value="{{ student.student_number }}">

        <div class="card shadow-sm mb-1">

            <div class="card-header text-black" style="background-color: #89ff71;">
                <h2 class="text-center mb-0">Checklist of Courses</h2>
            </div>
            <h1 class="text-center mb-2" style="position: relative; left: -3%;">
                <img src="{% static 'images/logo.svg' %}" alt="" style="width: 80px; height: auto; position: relative;">
                Cavite State University
                <h3 class="text-center" style="font-size: 15px; position: relative; top: -30px;">Bacoor City Campus</h3>
            </h1>
            <p class="text-center"> {{ student.program }}</p>

            <!-- Student Information Card -->
            <div class="card mb-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Student Name:</strong>
                                {{ student.first_name }}
                                {% if student.middle_name %}{{ student.middle_name }}{% endif %}
                                {{ student.last_name }}
                                {% if student.suffix %}{{ student.suffix }}{% endif %}
                            </p>
                            <p><strong>Student Number:</strong> {{ student.student_number }}</p>
                            <p><strong>Address:</strong> {{ student.address }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Date of Admission:</strong></p>
                            <p><strong>Contact Number:</strong> {{ student.mobile_number }}</p>
                            <p><strong>Name of Adviser:</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
                <!-- Academic Years -->
{% for year in "1234"|make_list %}
<div class="mb-5">
    <h4 class="mb-4 text-center bg-secondary text-white py-2">
        {% if year == "1" %}First Year
        {% elif year == "2" %}Second Year
        {% elif year == "3" %}Third Year
        {% else %}Fourth Year{% endif %}
    </h4>
    
    {% for semester in "12"|make_list %}
        <div class="mb-4">
            <h5 class="mb-3 text-success">
                {% if semester == "1" %}First Semester
                {% else %}Second Semester{% endif %}
            </h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Title</th>
                        <th>Credit Units Lab</th>
                        <th>Credit Units Lec</th>
                        <th>Pre-Requisite</th>
                        <th>Semester/By Taken</th>
                        <th>Final Grade</th>
                        <th>Professor/Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subjects %}
                        {% if subject.year_level|stringformat:"s" == year and subject.semester|stringformat:"s" == semester %}
                            {% if student.program == 'BS Computer Science' and subject.cs == 'yes' %}
                                <tr>
                                    <td>{{ subject.sub_code }}</td>
                                    <td>{{ subject.sub_name }}</td>
                                    <td>{{ subject.lab_units }}</td>
                                    <td>{{ subject.lec_units }}</td>
                                    <td>{{ subject.prerequisite }}</td>
                                    <td></td>
                                    <td>
                                        <input type="number" 
                                        step="0.01" 
                                        min="0" 
                                        max="5" 
                                        class="form-control" 
                                        name="{{ subject.sub_code|lower|cut:' ' }}_grade"
                                        value="{{ checklist|get_grade:subject.sub_code }}"
                                        {% if not request.user.is_staff %}disabled{% endif %}>
                                    </td>
                                    <td></td>
                                </tr>
                            {% elif student.program == 'BS Information Technology' and subject.it == 'yes' %}
                                <tr>
                                    <td>{{ subject.sub_code }}</td>
                                    <td>{{ subject.sub_name }}</td>
                                    <td>{{ subject.lab_units }}</td>
                                    <td>{{ subject.lec_units }}</td>
                                    <td>{{ subject.prerequisite }}</td>
                                    <td></td>
                                    <td>
                                        <input type="number" 
                                        step="0.01" 
                                        min="0" 
                                        max="5" 
                                        class="form-control" 
                                        name="{{ subject.sub_code|lower|cut:' ' }}_grade"
                                        value="{{ checklist|get_grade:subject.sub_code }}"
                                        {% if not request.user.is_staff %}disabled{% endif %}>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    
    {% if student.program == 'BS Computer Science' and year == "3" or student.program == 'BS Information Technology' and year == "2" %}
        <!-- Mid Year Section -->
        <div class="mb-4">
            <h5 class="mb-3 text-success">Mid Year</h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Course Title</th>
                        <th>Credit Units Lab</th>
                        <th>Credit Units Lec</th>
                        <th>Pre-Requisite</th>
                        <th>Semester/By Taken</th>
                        <th>Final Grade</th>
                        <th>Professor/Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subjects %}
                        {% if subject.year_level|stringformat:"s" == year and subject.semester == 3 %}
                            {% if student.program == 'BS Computer Science' and subject.cs == 'yes' %}
                                <tr>
                                    <td>{{ subject.sub_code }}</td>
                                    <td>{{ subject.sub_name }}</td>
                                    <td>{{ subject.lab_units }}</td>
                                    <td>{{ subject.lec_units }}</td>
                                    <td></td>
                                    <td>{{ subject.prerequisite }}</td>
                                    <td>
                                        <input type="number" 
                                        step="0.01" 
                                        min="0" 
                                        max="5" 
                                        class="form-control" 
                                        name="{{ subject.sub_code|lower|cut:' ' }}_grade"
                                        value="{{ checklist|get_grade:subject.sub_code }}"
                                        {% if not request.user.is_staff %}disabled{% endif %}>
                                    </td>
                                    <td></td>
                                </tr>
                            {% elif student.program == 'BS Information Technology' and subject.it == 'yes' %}
                                <tr>
                                    <td>{{ subject.sub_code }}</td>
                                    <td>{{ subject.sub_name }}</td>
                                    <td>{{ subject.lab_units }}</td>
                                    <td>{{ subject.lec_units }}</td>
                                    <td>{{ subject.prerequisite }}</td>
                                    <td></td>
                                    <td>
                                        <input type="number" 
                                        step="0.01" 
                                        min="0" 
                                        max="5" 
                                        class="form-control" 
                                        name="{{ subject.sub_code|lower|cut:' ' }}_grade"
                                        value="{{ checklist|get_grade:subject.sub_code }}"
                                        {% if not request.user.is_staff %}disabled{% endif %}>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endfor %}

                <!-- Print Button -->
                <div class="d-flex justify-content-end mt-4">
                    {% if request.user.is_staff %}
                    <button type="submit" class="btn btn-primary">Save Grades</button>
                    {% endif %}
                    <button id="printButton" class="btn btn-success" onclick="printContent()">Print or Save as
                        PDF</button>
                </div>
            </div>
        </div>
{% endif %}
</div>

<script>
    function printContent() {
        window.print();
    }
</script>
{% endblock content %}